$themes: (
  light: (
    color-header: #fff,
    color-subtitle: #fff,
    color-menu-bg: #fff,
    color-toggle-bg: #ccc,
    color-inactive-toggle: #fff,
    color-active-toggle: #66bb6a,
    color-bottom-angle: #e91e63,
    color-right-angle: #ffc107,
    color-top-angle: #03a9f4,
    color-minute-hand: #ffc107,
    color-second-hand: #fff,
    color-hour-hand: #fff,
  ),
  dark: (
    color-header: #fff,
    color-subtitle: #fff,
    color-menu-bg: #fff,
    color-toggle-bg: #823,
    color-inactive-toggle: #fff,
    color-active-toggle: #66bb6a,
    color-bottom-angle: #e91e63,
    color-right-angle: #ffc107,
    color-top-angle: #03a9f4,
    color-minute-hand: #ffc107,
    color-second-hand: #fff,
    color-hour-hand: #fff,
  ),
  neu: (),
  starwars: (),
);
