@import 'styles/keyframes';
.neu-container {
  position: relative;
  z-index: 1;
  width: 15rem;
  height: 15rem;
  backdrop-filter: blur(1.5rem);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  animation: animate 5s ease-in-out infinite;
}
