@import 'styles/keyframes';
@import 'styles/colors';

$angle-1: 45deg;
$angle-2: 160deg;

.neu-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.neu-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient($angle-1, $red-gradient, $red-gradient 50%, $yellow-gradient 50%, $yellow-gradient);
}

.neu-frame::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient($angle-2, $blue-gradient, $blue-gradient 50%, transparent 50%, transparent);
  animation: animate 5s ease-in-out infinite;
}
