@import './styles/fonts';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JosefinSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
